package main

import (
	"go-star/dal"
)

templ hello(name string) {
	<div id="say-hi">Hello there, { name }!</div>
}

templ messages(messages []dal.MessageWithChatter) {
	<div id="messages" class="column">
  for _, item := range messages {
    <p><span class="tag is-primary">{ item.ChatterName }</span> { item.Content }</p>
  }
	</div>
}
