package main

import (
  "go-star/dal"
)

templ rooms(rooms []dal.Room) {
  for _, item := range rooms {
    <div class="room">
      <h2>{ item.Name }</h2>
      <p>{ item.Description }</p>
    </div>
  }
}
